<%= page_title t('admin.properties.new.label.heading') %>
<div id="newProperty">
  <div class="col9">
    <h2><%= raw t('admin.properties.new.label.heading') %></h2>
    <%= render 'form', :action => 'create' %>
    
  </div>
</div>