<p>
  <label><%= t('room_type_channel_mappings.new.label.channel_room_label', :channel => @channel.name) %></label>
  <%= @room_type_channel_mapping.expedia_room_type_name %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.expedia_rate_conversion_multiplier') %></label>
  <%= @room_type_channel_mapping.expedia_rate_conversion_multiplier %>&nbsp;
</p>
