<p>
  <label><%= t('property_channels.new.label.username') %></label>
  <%= @property_channel.agoda_username %>
</p>
<p>
  <label><%= t('property_channels.new.label.password') %></label>
  <%= @property_channel.agoda_password %>
</p>