<p>
  <label><%= t('property_channels.new.label.property_id') %></label>
  <%= @property_channel.orbitz_hotel_code %>
</p>
<p>
  <label><%= t('property_channels.new.label.chain_code') %></label>
  <%= @property_channel.orbitz_chain_code %>
</p>