<%= page_title t('members.edit.label.heading') %>
<div id="newMember">
  <div class="col9">
    <h2><%= raw t('members.edit.label.heading') %></h2>
    <%= render 'form', :action => 'update' %>
  </div>
</div>