<?xml version="1.0"?>
<MiscConfigItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SoapCallTimeout>100000</SoapCallTimeout>
  <ProxyUseDefaultCredentials>false</ProxyUseDefaultCredentials>
  <WebServiceUseDefaultCredentials>true</WebServiceUseDefaultCredentials>
  <WebServiceDomain />
  <WebServicePassword />
  <WebServiceUsername />
  <ProxyDomain />
  <ProxyPassword />
  <ProxyUsername />
  <ProxyServer />
</MiscConfigItems>